
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="jumbotron  text-center">
        <h3>Sayın @Session["Ad"] @Session["Soyad"] E-SAĞLIK Tıbbi Takip Sistemine Hoşgeldiniz</h3>
    </div>
</div>

